<ion-content class="ion-padding">
  <h1>Bienvenido</h1>
  <h3>Recuperar Contraseña!</h3>

  <form [formGroup]="resetForm" (ngSubmit)="reset()">
    <div class="form-field">
      <label [ngClass]="focused ? 'label-focused' : ''">Correo Electronico</label>
      <input placeholder="Correo Electronico" formControlName="email" type="text" (focus)="focused = true" (blur)="onBlur($event)" id="email" required>
    </div>
    
    <app-button label="Enviar Correo"></app-button>

  </form>
  
  <p class="footer-text">Ya soy miembro, <a routerLink="/login">Iniciar sesión</a></p>
  <p class="footer-text">Soy nuevo usuario, <a routerLink="/register">Registrarse</a></p>
</ion-content>