<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Chat
    </ion-list-header>
    <ion-item *ngFor="let mensaje of mensajes" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{mensaje.nombres}}
        </h5>
        <p>
          <ion-icon name="chatbubble-outline"></ion-icon> {{mensaje.mensaje}}
        </p>
        <p>
          <ion-icon name="time-outline"></ion-icon> {{mensaje.fechaDeEmision}}
        </p>
      </ion-label>
      <div item-end>
        <button ion-button clear (click)="deleteMensaje(mensaje.id)">
          <ion-icon name="trash" style="zoom:2.0; background-color: rgb(5, 5, 5)"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>  
  
  <ion-button expand="full" routerLink="/crear-usuario" color="primary">
    <ion-icon name="add-circle-outline"></ion-icon>    
  </ion-button>
  
</ion-content>